.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn {
  margin: 6px;
}
.addbt {
  padding-right: 20px;
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.mr {
  margin-right: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.mr {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.bt2 {
  margin-right: 10px;
}
.heading {
  margin-top: 30px;
}
.head {
  height: 20px;
}
.input {
  padding: 10px;
}
.button {
  float: right;
  padding: 4px;
}
.color {
  color: black;
}
.divbtn {
  float: right;
}
.alt {
  text-align: center;
  font-size: 28px;
  margin-top: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
